language: ruby
dist: trusty
rvm:
  - 2.2
before_script:
  - gem install awesome_bot
  - wget 'https://mkcert.org/generate/' -O bundle.pem
  - wget 'http://cdp.pca.dfn.de/global-root-ca/pub/cacert/cacert.pem' -O dfn.pem
  - wget 'http://cdp.pca.dfn.de/uni-potsdam-ca/pub/cacert/cacert.pem' -O potsdam.pem
  - cat bundle.pem dfn.pem potsdam.pem > /tmp/bundle.pem
script:
  - SSL_CERT_FILE="/tmp/bundle.pem" awesome_bot README.md --allow-redirect --white-list "www.0day.today,mvfjfugdwgc5uwho.onion,creativecommons.org,zoomeye.org,netsparker.com"
